.heroSection {
  height: 16rem;
  background-color: #495e57;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.textHeroSection {
  width: 200px;
}

.h2TextHeroSection {
  color: #f4ce14;
  font-size: 2rem;
  margin-bottom: -0.25rem;
  margin-top: -0.5rem;
}

.imgHeroSection {
  border-radius: 15px;
}

.buttonTextHeroSection {
  background-color: #f4ce14;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  /* border: none; */
}