.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: #fbdabb;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

.modal h3 {
  color: #495e57;
  font-size: 2rem;
  text-align: center;
}

.modal p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ee9972
}

.modal span {
  text-decoration: underline;
  color: #495e57;
}

.modalButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}