.header {
}

.heroSection {
  height: 16rem;
  background-color: #495e57;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  /* gap: 2rem; */
  /* padding: 0 2rem; */
  /* display: flex;
  justify-content: space-between; */
  /* position: relative; */
}

.textHeroSection {
  width: 200px;
}

h2 {
  color: #f4ce14;
  font-size: 2rem;
}

img {
  border-radius: 15px;
  /* position: absolute; */
  /* bottom: -2rem;
  right: 5%;  */
  /* width: 200px;
  height: auto; */
}
